html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

/*===== Colores =====*/
:root{
    --third-color: #16213e;
    --second-color: #1a1a2e;
    --first-color: #0f3460;
    --fourth-color: #e94560;
  }

/* Navbar*/ 
.nav-link{
    color: #fff !important ; 

}
.nav-link:hover, .nav-link:active{
    color: #0a0909 !important;
}
.navbar{
    
    
    font-family: cursive;
    width: 100%;
    position: fixed;
    top: 0%;
    padding-top: 2px;
    z-index: 1;
    /* background-color: var(--fourth-color); */
    /* box-shadow: 0 1px 4px rgba(146,161,176,.15); */

    
}
.nav-item{
    margin-bottom: .1rem;
    font-size: larger;
    margin-top: .1rem;

    
    
}

/* box Sections*/ 
.container{
    margin-top: .2rem;
    max-height: max-content;
    max-width: fit-content;
    margin-bottom:0%;
}
.title{
    top: 0%;
    font-size: larger;
    color:beige;
    margin-top: 50%;
    margin-bottom: 114%;
    margin-left: 2rem;
    
    text-align: left;

}
.row{
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;


}
.row1{
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;


}



.button {
    position: relative;
    cursor:cell;
  }
  
.button:hover{
    color:  #e94560 ;
  }

.first{
    background-color:var(--first-color);
    height: 100%;
}
.second{
    background-color:var(--third-color);
    height: 100%;
}
.third{
    background-color: var(--second-color);
    height: 100%;
}
.title_text{
    margin-top: 5rem;
    font-family: cursive;
    font-size: larger;
}

.img{
    margin-top: 5rem;
    align-items: center;
    
}

.slide{
    height: 100%;
    width: 100%;
    background-color: #1a1a2e;
    margin-top: 5rem;
    z-index: -1;
}
.cover-container{
    max-width: 100%;
    max-height: 100%;
    margin-top: 3rem;
    z-index: 1;
    background-color: #16213e;
    align-items: center;
    
}





/* content of boxes Info*/
.info_title{
    margin-top: 10rem;
    text-align: left;
    position: relative;
    margin-left: 5rem;
}
.info{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: auto;
    
   
}
.h2{
    color: #e94560;
}



.p{
    font-size: 10rem;
}
/* ===== Contact =====*/
.contacts{
    margin-top: 5rem;
    margin-left: 5rem;
    
}




/* ===== FOOTER =====*/
.footer{
    background-color: var(--fourth-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    border-top-left-radius: 2.523rem;
    border-top-right-radius: 2.523rem;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }
  .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 30px;
}

.fa-github:hover{
  color : #000000;
}
.fa-linkedin-square:hover{
  color : rgb(0, 119, 181);
}


/* Dark and Light Mode */
.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}
  
.dark,
.dark , 
.footer {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
.inner-switch.dark-mode-on {
    background-color: #333; /* Change to your desired color for dark mode */
    color: #fff; /* Change to your desired text color for dark mode */
}

/* Nav BAr */
.navbar {
    /* background-color: var(--first-color); */
    height: max-content;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    /* flex-direction: row; */
    justify-content: space-around;
    margin: 20px;
    
}
a {
    text-decoration: none;
}
.center-content {
    
    background-color: red;
    color: #FFF;
    border-radius: 1.2356rem;
    padding: 0.7125rem;
    margin-left: 0.3125rem;
    font-weight: 500;
}
.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: start;
}

/*  Scroll Bar Animation */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}
/* section Content */
.container-1 {
    margin: 30px;
}
.first {
    border-radius: 1.253rem;
    text-align: center;
    padding: 20px;
}
.align-self-center {
    width: 200px;
}
.animation {
    border-radius: 10px;
}
.image {
    margin: 10px;
}
.image-contact {
    text-align: center;
}
.image-media {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    border-bottom-right-radius: 2.523rem;
    border-bottom-left-radius: 2.523rem;
}
/* mobile view */
@media (max-width:799px) {
    .navbar {
        display: inline;
        margin: 0px;
    }
    .logo {
        text-align: start;
    }
    .center-content,
    .mode,
    .logo {
        display: none;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        border-radius: 0.956rem;
    }
    
    .active {
        text-align: start;
    }
    
    .topnav #myLinks {
        display: none;
    }
    
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav a:hover {
        background-color: #000;
        /* color: black; */
    }
    
    .mobile-container {
        margin: auto;
        /* background-color: #555; */
        color: white;
    }
    
    .switch {
        color: white;
        padding: 14px 16px;
        font-size: 17px;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .col-4 {
        width:100%;
        height: max-content;
        margin-top: 0px;
    }
    .title-media {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title_text {
        margin-top: 2px;
    }
    .align-self-center {
        width: 80px;
    }
    .col-6 {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .info {
        margin: 0px;
    }
    .line {
        border: 3px solid #000;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 1.253rem;
    }
    .col-8 {
        width: 100%;
    }
    .contacts {
        text-align: center;
        margin: 0px;
    }
    .image-media {
        background-size: 100% auto;
    }
    .footer {
        align-items: center;
        text-align: center;
    }
    .footer__title {
        padding: 20px;
    }
    .socials {
        margin: 0px;
    }
    .title-box {
        margin-bottom: 0%;
    }
}

@media (min-width: 800px) {
    .mobile-container {
        display: none;
    }
    .line {
        display: none;
    }
    
}