@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/*===== Colores =====*/
:root{
    --third-color: #16213e;
    --second-color: #1a1a2e;
    --first-color: #0f3460;
    --fourth-color: #e94560;
  }

/* Navbar*/ 
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 5px 50px;
    background:#e94560;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 0px;
}
.navbar a{
    position: relative;
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content:'' ;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:#000000;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;

}

/* box Sections*/ 
.container{
    margin-top: .2rem;
    max-height: max-content;
    max-width: fit-content;
    margin-bottom:0%;
}
.title{
    top: 0%;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:beige;
    margin-top: 50%;
    margin-bottom: 114%;
    margin-left: 2rem;
    
    text-align: left;

}
.row{
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;


}
.row1{
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;


}



.button {
    position: relative;
    cursor:cell;
  }
  
.button:hover{
    color:  #e94560 ;
  }

.first{
    background-color:var(--first-color);
    height: 100%;
}
.second{
    background-color:var(--third-color);
    height: 100%;
}
.third{
    background-color: var(--second-color);
    height: 100%;
}
.title_text{
    margin-top: 5rem;
    font-family: cursive;
    font-size: larger;
}

.img{
    margin-top: 5rem;
    align-items: center;
    
}

.slide{
    height: 100%;
    width: 100%;
    background-color: #1a1a2e;
    margin-top: 5rem;
    z-index: -1;
}
.cover-container{
    max-width: 100%;
    max-height: 100%;
    margin-top: 3rem;
    z-index: 1;
    background-color: #16213e;
    align-items: center;
    
}





/* content of boxes Info*/
.info_title{
    margin-top: 10rem;
    text-align: left;
    position: relative;
    margin-left: 5rem;
}
.info{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: auto;
    
   
}
.h2{
    color: #e94560;
}



.p{
    font-size: 10rem;
}
/* ===== Contact =====*/
.contacts{
    margin-top: 5rem;
    margin-left: 5rem;
    
}




/* ===== FOOTER =====*/
.footer{
    background-color: var(--fourth-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }
  .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 30px;
}

.fa-github:hover{
  color : #000000;
}
.fa-linkedin-square:hover{
  color : rgb(0, 119, 181);
}